/*初始化样式*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clear:after{
	content:"";
	display: block;
	clear: both;
	}
.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.headerAd{
	background: #444;	
	height: 40px;
}
.adcontent{
	width: 976px;
	height: 40px;
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
	line-height: 40px;
	color: #a8a8aa;
}
.nav{
	background: rgba(45,45,45,0.98);
	height: 44px;
}
.navContent{
	width: 1000px;
	margin: 0 auto;
}
.nav .navContent a{
	display: inline-block;
	width: 111px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	color: #FFF;
	float: left;
	text-decoration: none;	
	transition: all 0.3s;
    font-size: 13px;
    font-weight: 400;
}
.nav .navContent a:hover{
	text-shadow: 5px 5px 10px burlywood;
}
.nav .navContent .logo{
	background-image: url(../img/apple_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.nav .navContent .search{
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.nav .navContent .buyCar{
	background-image: url(../img/buycar.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.banner{
	margin-top: 84px;
	text-align: center;
	padding: 50px 20px;
	background-color: #fafafa;
	font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.banner h1{
	font-size: 32px;
	padding: 10px;
}
.banner p{
	font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
}
.banner a{
	color: #0070c9;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	display: inline-block;
}
.banner2{
	height: 692px;
	margin-top: 12px;
	text-align: center;
	padding: 50px 20px;
	background-color: #fafafa;
	font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	background-image: url(../img/iphone_xr.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}	
.banner2 h1{
	padding: 10px;
	
}
.banner2 p{
	font-size: 19px;
    line-height: 1.47059;
    font-weight: 400;

}
.banner2 a{
	color: #0070c9;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	display: inline-block;
}
.banner3{
	height: 569px;
	margin-top: 12px;
	text-align: center;
	padding: 50px 20px;
	background-color: #fafafa;
	font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	background-image: url(../img/iphone_xs.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}	
.banner3 h1{
	margin-bottom: 13px;
	
}
.banner3 p{
    margin-top: 5px;
    color: #111;
    font-size: 19px;
    line-height: 1.38105;
    font-weight: 400;

}
.banner3 a{
	color: #0070c9;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	display: inline-block;
}
.banner4{
	height: 569px;
	margin-top: 12px;
	text-align: center;
	padding: 50px 20px;
	background-color: #fafafa;
	font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	background-image: url(../img/watch_series_4.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}	
.banner4 h1{
	margin-bottom: 12px;
}
.banner4 p{
    margin-top: 5px;
    color: #111;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.16667;
}
.banner4 a{
	color: #0070c9;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	display: inline-block;
}
.adlist .banner{
	margin-top: auto;
	width: 50%;
	height: 592px;
	float: left;
}
.adlist .b1{
	border-left: 12px solid #FFFFFF;
	border-top: 12px solid #FFFFFF;
	border-bottom: 6px solid #FFFFFF;
	border-right: 6px solid #FFFFFF;
	background-image: url(../img/monkey.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	color: #FFFFFF;
	padding: 40px 20px;
}
.adlist .b1 a{
	color: #FFFFFF;
	display: inline-block;
	font-size: 16px;
}
.adlist .b2{
	border-left: 6px solid #FFFFFF;
	border-top: 12px solid #FFFFFF;
	border-bottom: 6px solid #FFFFFF;
	border-right: 12px solid #FFFFFF;
	background-image: url(../img/apple_music.jpg);
	background-size: auto 100%;
	background-position: center;
	color: #FFFFFF;
	padding: 40px 20px;
}
.adlist .b2 .music{
	position: relative;
	top: 330px;
}
.adlist .b2 a{
	color: #FFFFFF;
	font-size: 16px;
}
.adlist .b2 .link img{
	width: 14px;
	height: 14px;
}
.adlist .b3{
	border-left: 12px solid #FFFFFF;
	border-top: 6px solid #FFFFFF;
	border-bottom: 6px solid #FFFFFF;
	border-right: 6px solid #FFFFFF;
	background-image: url(../img/ipad_pro.jpg);
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 40px 20px;
}
.adlist .b3 h1{
	font-size: 40px;
}

.adlist .b3 a{
	font-size: 16px;
}
.adlist .b4{
	border-left: 6px solid #FFFFFF;
	border-top: 6px solid #FFFFFF;
	border-bottom: 6px solid #FFFFFF;
	border-right: 12px solid #FFFFFF;
	background-image: url(../img/macbook_air.jpg);
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 40px 20px;
}
.adlist .b4 h1{
	font-size: 40px;
}
.adlist .b4 a{
	font-size: 16px;
}
.adlist .b5{
	border-left: 12px solid #FFFFFF;
	border-top: 6px solid #FFFFFF;
	border-bottom: 12px solid #FFFFFF;
	border-right: 6px solid #FFFFFF;
	background-image: url(../img/airpods.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 20px;
	text-align: center;
}

.adlist .b5 h1{
	font-size: 40px;
}
.adlist .b5 a{
	font-size: 16px;
}
.adlist .b6{
	border-left: 6px solid #FFFFFF;
	border-top: 6px solid #FFFFFF;
	border-bottom: 12px solid #FFFFFF;
	border-right: 12px solid #FFFFFF;
	background-image: url(../img/100_things.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 20px;
	text-align: center;
}
.adlist .b6 h1{
	font-size: 40px;
	color: #FFFFFF;
	padding: 0px;
	position: relative;
	top: 400px;
}
.adlist .b6 a{
	color: #6bf;
	font-size: 16px;
	position: relative;
	top: 400px;
	
}
.footer{
    background: #fafafa;
}
.footer .ftop{
	width: 980px;
	margin: 0 auto;
    border-bottom: 1px solid #888;
}
.footer .ftop p{
	padding-bottom: 9.6px;
	font-size: 8px;
    line-height: 1.33341;
    font-weight: 400;
    color: #888;
}
.footer .ftop a{
	text-decoration: none;
	color: #888;
}
.footer .ftop a:hover{
	text-decoration: underline;
}
.footer .ftop .ffp1{
	padding-top: 14px;
}
.footer .ftop .ffp2{
	padding-bottom: 22px;
}

.footer .fcenter{
	width: 980px;
    margin: 0 auto;
    padding-top:20px;
    background: #fafafa;
} 



.footer .fcenter .item{
	width: 20%;
	float: left;

}
.footer .fcenter .item a{
    line-height: 2.5;
    font-size: 8px;
    color: #555;
    text-decoration: none;
}
.fcenter .item h5{
	line-height: 2.5;
    font-size: 9px;
    color: #333;
}
.footer .fbottom{
	width: 980px;
    margin: 0 auto;
    padding-top:20px;
    display: block;

} 
.fbottom{
	display: block;
	font-size: 8px;
	color: #555;
	line-height: 1.8;
}





